.md-typeset h1 {
    font-weight: bold;
    color: white;
}

.md-typeset h2 {
    font-weight: bold;
    color: rgb(201, 60, 60);
}

.md-typeset h3 {
    font-weight: bold;
    color: rgb(201, 60, 60);
}

body {
   background-color:  rgb(26, 30, 36);
   background:  rgb(26, 30, 36);
}

