.md-typeset h1 {
    font-weight: bold;
    color: white;
}

.md-typeset h2 {
    font-weight: bold;
    color: rgb(201, 60, 60);
}

.md-typeset h3 {
    font-weight: bold;
    color: rgb(201, 60, 60);
}

body {
   background:  rgb(26, 30, 36);
   color: white;
}

md-md-sidebar__inner{
    background:  rgb(26, 30, 36);
}

md-nav__title{
    color: white; 
}

