.md-typeset h1 {
    font-weight: bold;
    color: white;
}

.md-typeset h2 {
    font-weight: bold;
    color: rgb(201, 60, 60);
}

.md-typeset h3 {
    font-weight: bold;
    color: rgb(244, 164, 96);
}

.md-typeset h4 {
    font-weight: bold;
    color: white;
}

body {
    --md-default-bg-color:  rgb(26, 30, 36);
    --md-code-bg-color:  rgb(35, 40, 49);
    --md-default-fg-color:  white;
    --md-default-fg-color--light: white;
    color: white;
}

